
body {
	font-family: Helvetica;
	margin: 0;
	padding: 0;
}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
}
h1 {
	margin: 0;
	font-size: 36px;
	font-weight: normal;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
nav li {
	display: inline-block;
	margin-right: 20px;
}
nav a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
}

section {
	padding: 20px;
}
h2 {
	font-size: 24px;
	margin-bottom: 10px;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}
li {
	margin-right: 20px;
	margin-bottom: 20px;
	width: 300px;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
img {
	display: block;
	margin: 0 auto;
}
h3 {
	font-size: 18px;
	margin: 10px 0;
}
p {
	margin: 10px 0;
}
button {
	background-color: #333;
	color: #fff;
	border: none;
	padding: 10px;
	font-size: 16px;
	cursor: pointer;
}

footer {
	background-color: #eee;
	padding: 20px;
	text-align: center;
}
